header {
    max-width: 960;
    padding-top: 40px;
    margin: 0 auto;
    background-image: url("headerImage.jpg");
    height: 250px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    line-height: 10%;  
}

header h2{
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
}

li {
    font-family: 'Open Sans Condensed', sans-serif;
}

#stem {
    background-color: rgb(143, 100, 51);
    padding: .5rem;
    color: white;
    border-bottom: 1px solid white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.feedback {
    background-color:#533c26;
    padding: .5rem;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

button {
    width: 100%;
    background-color: #000000;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    height: 3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}

button:hover {
    background-color: #533c26;   
}

button:focus {
    background-color: #533c26;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 20px;

}

