header {
    max-width: 960;
    padding-top: 40px;
    margin: 0 auto;
    background-image: url("images/headerImage.jpg");
    height: 250px;
}

aside {
    width: 30%;
    padding-left: 1rem;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 1rem;
    float: right;
    background-color: beige;
    border: 1px solid darkgreen;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    line-height: 10%;  
}

header h2{
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    color: darkgreen;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
}

li {
    font-family: 'Open Sans Condensed', sans-serif;
}

#displayResults {
    font-family: 'Dancing Script', cursive;
    padding-left: 10px;
    font-size: 20px;
    color: darkgreen;
}


button {
    width: 40%;
    background-color: beige;
    height: 3rem;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    border: darkgreen;
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgba(63, 100, 63, 0.3);
}

div#displayResults span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: black;

}

div#error {
    color: red;
    background-color: rgba(255, 255, 119, 0.75);
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    text-align: center;
    background-color: darkgreen;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}