header {
    max-width: 960;
    padding-top: 40px;
    margin: 0 auto;
    background-image: url("headerimage\ copy.jpg");
    height: 190px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    line-height: 10%;  
}

header h2{
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    color: rgb(194, 94, 12);
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
}

li {
    font-family: 'Open Sans Condensed', sans-serif;
}

ul.hotels {
    margin: 0;
    padding-left: 10px;
}

ul.hotels li {
    list-style-type: none;
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul.hotels li a {
    text-decoration: none;
    background-color: rgb(194, 94, 12);
    color: white;
    padding: .5rem;
}

ul.hotels li a:hover {
    background-color: rgba(194, 94, 12, 0.541);
    color: white;
}

.style {
    background-color:rgba(194, 94, 12, 0.158);
    padding: 1rem;
    margin: 1rem 0;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 10px;
}

footer {
    text-align: center;
    background-color: rgb(194, 94, 12);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}

